<div class="service service-summary">
  {{ if .Params.icon }}
  <div class="service-image">
    <img src="{{ .Site.BaseURL }}{{ .Params.icon }}"/>
  </div>
  {{ end }}
  <div class="service-content">
    <h2 class="service-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ .Content | truncate 160 "..." }}
  </div>
</div>