.page-work-single {
  h1.title {
    font-size: 3rem;
    font-family: $font-family-heading;
    color: $primary;
  }
  .work-image {
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    &:hover .layer {
      opacity: 0.8;
      width: 90%;
      transition: all 0.5s ease;
      p {
        transform: scale(1);
        transition: all 0.9s ease;
        padding: 15px;
      }
    }
    img {
      width: 100%;
      height: auto;
      &:hover {
        opacity: 0.3;
      }
    }
    
  }

  .layer {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 90%;
    background: rgb(32, 41, 116);
    color: #fff;
    transition: all 0.9s ease;
    p {
      transition: all 0.9s ease;
      transform: scale(0.1)
    }
  }
  

  .content {
    > p {
      &:first-of-type {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
        font-weight: 300;
      }
    }
  }
  .masonry {
    /* Masonry container */
    column-count: 3;
    column-gap: 1em;
  }
  .item {
    /* Masonry bricks or child elements */
    background-color: rgb(255, 255, 255);
    margin: 0 0 1em;
  }
}
