.button {
  white-space: nowrap;
  display: inline-block;
  padding: 7px 15px;
  background: $primary;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  &:hover {
    color: #fff;
    background-color: lighten($primary, 10%);
    text-decoration: none;
  }
}
.button-white {
  background: none;
  color: #fff;
  border: 2px solid #fff;
}

.css-button-retro--sky {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  background: transparent;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-right: 10px;
}
.css-button-retro--sky:hover:after {
  top: 0;
  left: 0;
}
.css-button-retro--sky:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #E88A51;
}

.css-button-retro--blue {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid rgb(24, 46, 119);
  color: #fff;
  background: transparent;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-right: 10px;
}
.css-button-retro--blue:hover:after {
  top: 0;
  left: 0;
}
.css-button-retro--blue:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #E88A51;
}