.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1;
  }
}

.rad-animation-group {
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: linear-gradient( 135deg, #FEC163 10%, #DE4313 100%);;
  color:#fff;
  h2 {
    color: #364ba8 !important;
    padding-bottom: 30px;
  }
 
}

.testimonial {
  padding-left: 20px;
  padding-right: 20px;
}

.testimonial__author {
  margin-top: -20px;
}

i {
  font-size: 1.9rem;
  right: 3%;
  position: relative;
  color: #364ba8;
}
