ul.social {
  height: inherit;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    color: $white;
    &:last-of-type {
      margin: 0;
    }
    a {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto;
      display: block;
      span {
        font-size: 24px;
      }
    }
  }
}